{
    -theme-color: #329cfe
;
    -mode-color-1: #2b2d30
;
    -mode-color-2: #1e1f22
;
    -label-color: #ececf1
;
}
.table-view .corner {
    -fx-background-color: transparent;
}

.table-view {
    -fx-background-color: transparent;
    -fx-background-radius: 14 14 0 0;
    -fx-font-size: 14;
}

.table-view .column-header .label {
    -fx-text-fill: -label-color;;
}

.table-view .column-header-background {
    -fx-text-fill: #ececf1;
    -fx-background-color: #2e2f32;
    -fx-background-radius: 14 14 0 0;
    -fx-background-insets: 0 0 0 0;
    -fx-padding: 5 0 5 0;
}

.table-view .column-header, .table-view .filler {
    -fx-background-color: transparent;
}

.table-view .table-cell {
    -fx-text-fill: #ececf1;
    -fx-cell-size: 30px;
    -fx-padding: 5 0 5 10;
    -fx-border-color: #2c2f32;
}

.table-view .table-row-cell:selected .table-cell {
    -fx-background-color: #26282e;
}


.table-view .table-cell {
    -fx-background-color: -mode-color-2;
}


.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 5;
    -fx-padding: 2;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb {
    -fx-background-color: #4d4e51;
}

.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color: #4d4e51;
}