.avatar-image {
    -fx-background-radius: 50%;
    -fx-background-color: #d8e9ef;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.button {
    -fx-border-radius: 10px;
    -fx-background-radious: 10px;
}

.main-button {
    -fx-border-radius: 0;
    -fx-border-width: 0 0 0 4;
    -fx-border-color: rgba(0, 0, 0, 0);
    -fx-background-color: #ffffff;
}

@font-face {
    font-family: 'SVN-Poppins';
    src: url('/salesmanagement/salesmanagement/SVN-Poppins.ttf');
    font-weight: 10;
}

.text-field-box {
    -fx-padding: 4 0 4 10;
    -fx-background-color: white;
    -fx-border-color: #d1d1d1;
    -fx-border-width: 1.5px;
    -fx-border-radius: 3px;
    -jfx-unfocus-color: transparent;
    -jfx-focus-color: transparent;

}

.text-field-box:focused {
    -fx-border-color: #007acc;
}

.combo-box-style {
    /*-jfx-unfocus-color: transparent;*/
    /*-fx-border-insets: 4 0 -2 0;*/
    /*-fx-border-color: #d1d1d1;*/
    /*-fx-border-radius: 3;*/
    /*-fx-font-size: 15;*/
}

.text-style:hover {
    -fx-fill: #329cfe;
}

#background_color {
    -fx-background-color: #f4f4f4;
}

#top_label {
    -fx-text-fill: #329efcab;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
}

#small_top_label {
    -fx-text-fill: #329efcab;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

#close_color {
    -fx-fill: #329efcab;
}

.tab-button {
    -fx-text-fill: #7c8db5;
    -fx-font-size: 16;
    -fx-font-weight: 700;
    -fx-pref-height: 60;
    -fx-pref-width: 300;
    -fx-alignment: CENTER_LEFT;
    -fx-border-radius: 6;
    -fx-graphic-text-gap: 15;
}

.tab-button .glyph-icon {
    -fx-fill: #7c8db5;
    -fx-font-size: 20;
}

.tab-button:hover {
    -fx-text-fill: white;
    -fx-background-color: transparent, transparent, transparent, #329efcab;
}

.tab-button:hover .glyph-icon {
    -fx-fill: white;
}

.active-tab-button {
    -fx-background-color: transparent, transparent, transparent, #dbdfe7;
}


.tab-button-bar {
    -fx-padding: 20 0 0 20;
    -fx-background-color: white;
}

.username-label {
    -fx-text-fill: #7c8db5;
    -fx-font-size: 18;
    -fx-font-weight: 700;
    -fx-graphic-text-gap: 15;
}

.job-title-label {
    -fx-text-fill: #7c8db5;
    -fx-font-size: 15;
}

.shrink-tab-button {
    -fx-content-display: GRAPHIC_ONLY;
}

.active-shrink-button {
    -fx-rotate: 180;
}

.shrink-button {
    -fx-border-radius: 50%;
    -fx-background-radius: 50%;
}

.shrink-button .glyph-icon {
    -fx-fill: #329efcab;
}

.shrink-button-box {
    -fx-background-color: linear-gradient(to right, white 50%, #f4f4f4 50%);
}

.top-label {
    -fx-font-size: 20;
    -fx-text-fill: #5ab7ff;
    -fx-font-weight: 700;
}

.top-menu-pane {
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #e0e0e0;
}