.table-view {
    -fx-background-color: #f2f7ff;
    -fx-font-size: 14px;
}

.table-row-cell:odd {
    -fx-background-color: #e6f3ff;
}

.table-row-cell:even {
    -fx-background-color: #f2f7ff;
}

.table-column {
    -fx-alignment: CENTER_LEFT;
}

.table-column-header {
    -fx-background-color: #00c7ff;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}

.table-cell {
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 5px;
    -fx-text-fill: #333333;
}