{
    -theme-color: #329cfe
;
    -theme-color-2: #329efcab
;
    -mode-color-1: #2b2d30
;
    -mode-color-2: #1e1f22
;
    -label-color: #ececf1
;
    -text-field-color: rgba(255, 255, 255, 0.81)
;
}