@import "table-view.css";
@import "scroll-pane.css";
@import "titled-pane.css";
@import "date-picker.css";

.avatar-image {
    -fx-background-radius: 50%;
    -fx-background-color: #d8e9ef;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.button {
    -fx-border-radius: 10px;
    -fx-background-radious: 10px;
}

.main-button {
    -fx-border-radius: 0;
    -fx-border-width: 0 0 0 4;
    -fx-border-color: rgba(0, 0, 0, 0);
    -fx-background-color: #ffffff;
}

@font-face {
    font-family: 'SVN-Poppins';
    src: url('/salesmanagement/salesmanagement/SVN-Poppins.ttf');
    font-weight: 10;
}

.text-field-box {
    -fx-font-size: 15;
    -fx-focus-traversable: false;
}

.text-field-box:focused {
    -fx-border-color: rgba(0, 152, 253, 0.9);
}

.text-style:hover {
    -fx-fill: #329cfe;
}

.tab-background {
    -fx-background-color: #f4f4f4;
}

#small_top_label {
    -fx-text-fill: rgba(23, 80, 131, 0.67);
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

#close_color {
    -fx-fill: #329efcab;
}

.tab-button {
    -fx-text-fill: #7c8db5;
    -fx-font-size: 16;
    -fx-font-weight: 700;
    -fx-pref-height: 60;
    -fx-pref-width: 300;
    -fx-alignment: CENTER_LEFT;
    -fx-border-radius: 6;
    -fx-graphic-text-gap: 15;
}

.tab-button .glyph-icon {
    -fx-fill: #7c8db5;
    -fx-font-size: 20;
}

.tab-button:hover {
    -fx-text-fill: white;
    -fx-background-color: transparent, transparent, transparent, #329efcab;
}

.tab-button:hover .glyph-icon {
    -fx-fill: white;
}

.active-tab-button {
    -fx-background-color: transparent, transparent, transparent, #dbdfe7;
}


.tab-button-bar {
    -fx-padding: 20 0 0 20;
    -fx-background-color: white;
}

.username-label {
    -fx-text-fill: #7c8db5;
    -fx-font-size: 18;
    -fx-font-weight: 700;
    -fx-graphic-text-gap: 15;
}

.job-title-label {
    -fx-text-fill: #7c8db5;
    -fx-font-size: 15;
}

.shrink-tab-button {
    -fx-content-display: GRAPHIC_ONLY;
}

.active-shrink-button {
    -fx-rotate: 180;
}

.shrink-button {
    -fx-border-radius: 50%;
    -fx-background-radius: 50%;
}

.shrink-button .glyph-icon {
    -fx-fill: #329efcab;
}

.shrink-button-box {
    -fx-background-color: linear-gradient(to right, white 50%, #f4f4f4 50%);
}

.top-label {
    -fx-font-size: 20;
    -fx-text-fill: #5ab7ff;
    -fx-font-weight: 700;
}

.top-menu-pane {
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #e0e0e0;
    -fx-background-color: #f4f4f4;;
}

.valid-icon-view {
    -glyph-name: "CHECK";
    -fx-fill: #71ea71
}

.invalid-icon-view {
    -glyph-name: "CLOSE";
    -fx-fill: #e71c1c
}


.switch-button-box {
    -fx-pref-height: 60;
    -fx-pref-width: 300;
    -fx-alignment: CENTER_LEFT;
}

.switch-sub-box > .label {
    -fx-text-fill: #7c8db5;
    -fx-font-size: 16;
    -fx-font-weight: 700;
}

.switch-sub-box > .glyph-icon {
    -fx-fill: #7c8db5;
}

.switch-sub-box {
    -fx-spacing: 15;
    -fx-padding: 0 0 0 15;
}


.axis {
    -fx-tick-label-fill: black;
}

.chart {
    -fx-background-color: #f4f4f4;
}

.chart > .chart-title {
    -fx-text-fill: #000000;
}

.chart-plot-background {
    -fx-background-color: #f4f4f4;
}

.chart-vertical-grid-lines {
    -fx-stroke: #0f9de8;
}

.chart-horizontal-grid-lines {
    -fx-stroke: #0f9de8;
}


.text-field-name {
    -fx-text-fill: black;
    -fx-font-weight: 700;
}